@font-face {
  font-family: "ChopinScript";
  src: url("../fonts/ChopinScript.ttf") format("truetype");
}
body {
  background-image: url("../pics/IMG_7696_mobile_crop.JPG");
  background-position: center;
  color: lightslategrey;
  font-family: ChopinScript;
  font-size: 32px;
  margin: 0px;
  padding-top: 25px;
}
main {
  height: 600px;
}
h1 {
  margin-top: 0px;
  font-size: 64px;
  font-weight: 200;
  text-align: center;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
header nav ul {
  display: flex;
  justify-content: space-around;
}
/* #releases-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  position: fixed;
  bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
}
li {
  margin-top: 25px;
} */
@media screen and (min-width: 800px) {
  body {
    background-image: url("../pics/IMG_7696.JPG");
    background-position: none;
    height: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
  }
  h1 {
    font-size: 124px;
    font-weight: 200;
  }
  /* .releases-list {
    margin-left: 250px;
  } */
}
